/* --------------------------------------------------------------------------------- */
/*#region GENERAL DEFAULTS  */
html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 50px);
}

body {
    font:  var(--fontweight-normal) var(--fontsize-default) var(--fontfamily-primary);
    color: var(--clr-neutral-black);
    position: relative;
}

body > * > * {
    padding: 2rem;
}

h2 { font-size: var(--fontsize-heading); font-weight: var(--fontweight-heavy); }
/*#endregion GENERAL DEFAULTS  */
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/*#region COMPOSITION */
/* Macrolevel design choises that defines the skeleton of the webpage and basic composition within components */
header {
    position: fixed;
        top: 0;
        z-index: 5;
    width: 100%;
    min-height: 60px;
}

main {
    margin-top: 5rem;
}
/*#endregion COMPOSITION */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region UTILITIES */ 
/* One job, done well. It performs one logical job: formatting, design, shape, font and element colours  */

/*#ICONS */
.icon::before,
.icon::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    font: var(--fa-font-solid);
}

.icon-space::before { margin-right: .5rem; } /* Gives a little bit of space to avoid the */ 
.icon-space::after { margin-left: .5rem; } /* icon being too close to the other elements*/

.social-links > .icon::before,
.social-links > .icon::after,
.social-links.icon::before,
.social-links.icon::after {
    font: var(--fa-font-brands);
}

.clickable-icon::before,
.clickable-icon::after {
    transition:         
        background-color 200ms ease-in, 
        color 200ms ease-in,
        transform 150ms ease-in;
}

.clickable-icon:hover::before,
.clickable-icon:hover::after {
    color: var(--clr-secondary);
    transform: scale(1.2);
}
/* ------------------------------------------ */

/* #BUTTONS */
.ui-button {
    padding: .5rem 4rem; /* creates the size of the button*/
    border: transparent;
    border-radius: 100px;
    font-weight: var(--fontweight-heavy);
    cursor: pointer;

    transition: 
        transform 250ms ease-out,
        color 250ms ease-in,
        background-color 250ms ease-in,
        border-color 200ms;
}

.ui-button:hover {
    transform: scale(105%);
}
/* ------------------------------------------ */

/* ANCHORDS & LINKS */
li:not([class]) a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
} /* Default behaviour for list without classes*/

.navigate-item { padding: 24px 0; }
.navigate-item a { 
    padding: 20px 0; 
    transition: 
        color 150ms ease-out;
}
.navigate-item a:hover { 
    border-bottom: 4px solid var(--clr-secondary); 
    color: var(--clr-secondary);
}
/* ------------------------------------------ */

/* #FLEX */
.flex { display: flex; }
.flex-column { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }

.card-container {
    gap: var(--gap);
    justify-content: space-between;
    text-align: center;
}
.card-container > .flex { gap: var(--gap); }

.card-item { 
    flex-grow: 1;
    text-align: center; 
}

.card-box {
    border-radius: 35px;
    padding: 1rem 2rem 2.5rem 2rem;
    overflow: hidden;
}

.large-card {
    flex-grow: 2;
}

/* ------------------------------------------ */

/* #AESTHETIC ELEMENTS */
.hidden-content { display: none; }

.content-width { 
    max-width: var(--content-width); 
    margin: 0 auto;
}

.flow > * { margin-top: var(--flow-space); }
.flow-extra > * { margin-top: var(--flow-space-extra);}

.img-container img {
    width: 50vw;
        max-width: 250px;
        min-width: 100px;
    height: 50vw;
        max-height: 250px;
        min-height: 100px;
    object-fit: cover;
    border-radius: 100%;

    position: relative;
}

.spaced-letters {
    letter-spacing: .2rem;
}
/* ------------------------------------------ */

/* #COLOR SCHEMES */
/* Color schemes divided into scalable Design Tokens: allows to apply a specific set of colours without repetition */
.background-light { background-color: var(--clr-neutral-white); }

.background-dark { background-color: var(--clr-neutral-black); }

.background-primary { background-color: var(--clr-primary);}

.background-secondary { background-color: var(--clr-secondary);}

.background-neutral { background-color: var(--clr-neutral);}

.text-colour-dark {color: var(--clr-neutral-black);}

.text-colour-light {color: var(--clr-neutral-white);}

.text-colour-primary {color: var(--clr-primary);}

.text-colour-secondary {color: var(--clr-secondary);}

.text-colour-accent { color: var(--clr-accent);}
/* ------------------------------------------ */

/* #FONTAWESOME */
/* .hamburger-menu::before { content: '\f0c9';} */
.file-code::before { content: '\f1c9'; }
.compass-drafting::before { content: '\f568'; }
.laptop-code::before { content: '\f5fc'; }
.bullhorn::before { content: '\f0a1'; }
.arrow-down::before { content: '\f063'; }
.linkedin::before { content: '\f08c'; }

.quoted::before,
.quoted::after {
    opacity: .4;
}

.quoted::before { 
    content: open-quote; 
    transform: translate(-20px, -15px) scale(1.7); 
} 
.quoted::after { 
    content: close-quote; 
    margin-left: .5rem;
    transform: translate(20px, 10px) scale(1.7);
}

/* ------------------------------------------ */

/*#endregion UTILITIES */
/* --------------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------------- */
/* BLOCKS: component specific rules */
/* --------------------------------------------------------------------------------- */

/* ------------------------------------------ */
/*#region : HEADER */
.page-header {
    opacity: .93;
    box-shadow: 0 0 1px 3px var(--clr-neutral-black-transparent);
}

.page-header .flex {
    justify-content: space-between;
    align-items: center;
}

.page-header a {
    border-bottom: 2px solid transparent;
    transition: 
        border-color 300ms ease-in;
}

.page-header a:hover {
    border-color: var(--clr-neutral-white);
}

.page-header i {
    font-size: var(--fontsize-large);
}

.page-header i {
    cursor: pointer;
    transition: 
        transform 200ms ease-in;
}

.page-header i:hover {
    transform: scale(1.4);
}

.page-header i:active {
    transform: rotate(-0.25turn);
}
/*#endregion : HEADER */
/* ------------------------------------------ */

/* ------------------------------------------ */
/*#region : key-features */
.features h3, 
.features__icon {
    color: var(--clr-primary);
}

.demo-offer {
    justify-content: space-between;
}

.demo-offer > * {
    flex-grow: 0;
    flex-shrink: 1;
}

.features.large-card {
    padding-bottom: 0;
}

.features__cta::before {
    font: var(--fa-font-brands);
    content: '\f179';
}

.features__img {
    margin-bottom: 0;
    align-self: flex-end;
    min-width: 50%;
}

.features__icon {
    font-size: var(--fontsize-large-icon);
}
/*#endregion : key-features */
/* ------------------------------------------ */

/* ------------------------------------------ */
/*#region : planning */
.planning .card-container {
    row-gap: 2rem;
}

.app-development-info p {
    line-height: 1.8;
}

.scroll-down {
    margin: 2rem auto;
}

.scroll-down a {
    padding: .9rem 1rem;
    border-radius: 50%;
    transition: 
        transform 200ms ease-out,
        color 200ms;
}

.scroll-down a:hover {
    transform: scale(1.6);
    color: var(--clr-neutral-white);
}
/*#endregion : planning */
/* ------------------------------------------ */

/* ------------------------------------------ */
/*#region : testimonials */
.testimonials {
    text-align: center;
}

.testimonials h2, 
.testimonials h3 {
    text-transform: uppercase;
    font: var(--fontweight-heavy) var(--fontsize-default) var(--fontfamily-primary);
}

.testimonials img {
    margin: 0 auto;
}

.testimonials__claim {
    font-size: var(--fontsize-heading);
    font-weight: var(--fontweight-heavy);
    color: var(--clr-secondary);
}

.testimonials .card-container {
    margin-top: 3rem;
    row-gap: 2rem;
}

.testimonial__feedback {
    margin: 1rem auto 2.4rem auto;
    max-width: 50ch;
}
/*#endregion : testimonials */
/* ------------------------------------------ */

/* ------------------------------------------ */
/*#region : benefits */
.benefits .card-item {
    text-align: left;
    background-color: var(--clr-neutral-white);
    color: var(--clr-neutral-black);
}

.counter {
    font-weight: var(--fontweight-heavy);
    font-size: var(--fontsize-heading);
}
/*#endregion : benefits */
/* ------------------------------------------ */

/* ------------------------------------------ */
/*#region : about-us */
.about-us .card-item {
    text-align: left;
    flex-grow: 0;
}

.about-us .img-container {
    position: relative;
}

.about-us .quoted {
    font-size: 200px;
    position: absolute;
        top: -20px;
        left: 40%;
}

.about-us .quoted::before {
    opacity: .9;
}

.about-us .quoted::after {
    display: none;
}

.about-us__claim p {
    font-weight: var(--fontweight-heavy);
    font-size: var(--fontsize-large);
}

.about-us__claim .ui-button {
    padding: .5rem 1.5rem;
}
/*#endregion : about-us */
/* ------------------------------------------ */

/* ------------------------------------------ */
/*#region : call-to-action */
.call-to-action {
    text-align: center;
}

.call-to-action h2 {
    text-transform: uppercase;
    font-weight: var(--fontweight-heavy);
    font-size: var(--fontsize-default);
}

.call-to-action__claim {
    font-weight: var(--fontweight-heavy);
    font-size: var(--fontsize-heading);
}

.call-to-action__offer {
    font-weight: var(--fontweight-heavy);
    font-size: var(--fontsize-even-larger);
}

.call-to-action .ui-button {
    font-size: var(--fontsize-large);
    margin: 2rem auto;
    padding: 1.2rem 3rem;
}

.call-to-action a {
    text-decoration: underline;
    text-underline-offset: 2px;
}
/*#endregion : call-to-action */
/* ------------------------------------------ */

/* ------------------------------------------ */
/*#region : FOOTER */
.page-footer {
    text-align: center;
}

.page-footer a {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--clr-secondary);
}
/*#endregion : FOOTER */
/* ------------------------------------------ */

/* --------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------------- */
/*#region MEDIA QUERIES */
@media only screen and (min-width: 480px) {
    .key-features .card-container,
    .benefits .card-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .key-features .card-item {
        width: calc(100% / 3 - var(--gap));
    }

    .key-features .large-card {
        width: calc((100% / 3) * 2 - var(--gap));
    }

    .testimonials .card-item {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .benefits .card-item {
        width: calc(100% / 2 - var(--gap));
    }

    .about-us .flex {
        flex-direction: row;
        align-items: flex-start;
        column-gap: 4rem;
    }

    .about-us__claim p {
        font-size: var(--fontsize-default);
    }

    .about-us .quoted {
        top: -40px;
        left: 70%;
    }   

    .call-to-action > * {
        max-width: 50ch;
    }

    .page-footer > * {
        max-width: 45ch;
    }
}

@media only screen and (min-width: 768px) {
    .demo-offer {
        flex-direction: row;
    }
    

    .benefits .card-item {
        width: calc(100% / 3 - var(--gap));
    }

    .planning .card-container {
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        column-gap: var(--gap);
    }

    .planning .card-container > * {
        width: calc(80% / 2 - var(--gap));
    }
}
/*#endregion MEDIA QUERIES */
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/*#region DEBUG  */
/* .debug .card-box {
    border: 2px dotted red;
} */
/*#endregion DEBUG  */
/* --------------------------------------------------------------------------------- */